<div class="dm-container">
  <h1 class="gold-text dm-title">DM Dashboard</h1>
  <mat-tab-group>
    <mat-tab label="Block Outcomes">
      <div class="tab-content">
        <app-block-outcomes />
      </div>
    </mat-tab>
    <mat-tab label="Relationships">
      <div class="tab-content">
        <app-relationship-tracker />
      </div>
    </mat-tab>
    <mat-tab label="Ship Duties">
      <div class="tab-content">
        <app-duty-injector />
      </div>
    </mat-tab>
    <mat-tab label="Trainings">
      <div class="tab-content">
        <app-training-editor />
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
